In [2]:
import pandas as pd
import numpy as np

# 1) Crie um conjunto de dados com dois níveis hierárquicos de linhas e  colunas.

# 2) A partir dos conjunto de dados realize operações de soma, média, mínimo e máximo considerando os níveis de hierarquia das linhas.

# 3) Agora realize uma agregação (soma, por exemplo) considerando uma das colunas, ou seja, axis=1.

# 4) Crie dois conjuntos de dados (muitos-para-um) e aplique uma junção interna e uma junção externa.

# 5) Localize linhas do conjunto de dados combinado considerando determinado critério de localização.

# 6) Com base no conjunto de dados abaixo realize algumas consultas utilizando o método loc.

In [3]:
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black',
                             'Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese',
                            'Melon', 'Beans'],
                   'Height': [165, 170, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                         'Christina', 'John'])
df

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb     170    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
John        39    Red   Beans     150    2.2    TX

# 7) Crie três conjuntos de dados para representar uma relação N:M (Médico, Paciente e Consulta). A partir dos conjuntos realize a integração (merge).